#nav-bar{
    box-shadow: 19px 10px 4px 0 rgba(0,0,0,.2);
}
#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #Get {
    background: #4887ef; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 20px; 
    font-weight: bold;
}
#nav_bar #Get:hover{
    cursor:pointer;
}

.title{
    float:left;
    color: #5777ba;
}
img{
    margin-top: 5cm;
    float:left;
    width:10cm;
    height:10cm;
}
*{
    font-family: Arial, sans-serif; 
}
h2{
    margin-top: 4cm;
    margin-left: 20cm;
    color:#47536e;
}
p{
    margin-left: 20cm;
    color:#585a61;
}
#textli {
    list-style: none;
    color:#585a61;
    font-size: large;
    margin-left: 19cm;
}

#textli li:before {
    content: '✓';
}
#txt{
    list-style: none;
    color:#585a61;
    font-size: large;
    margin-left:0cm;
    margin-top:1cm;
}
footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightgrey;
        color: white;
        text-align: left;
}
#design{
    font-size: 15px;
}