#first-text{
    margin-top:3cm;
    margin-right:10cm;
    float:right;
    border:solid black 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: lightgoldenrodyellow;
    color:rgb(250, 37, 0);
}
h1{
    float:left
}
#nav_bar {
    box-shadow: 19px 10px 4px 0 rgba(0,0,0,.2);
    float:right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #Get {
    background: #4887ef; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 20px; 
    font-weight: bold;
    float:right;
}
#nav_bar #Get:hover{
    cursor:pointer;
}
.title{
    float:left;
    color: #5777ba;
}

img{
    margin-top: 5cm;
    float:left;
    width:10cm;
    height:10cm;
}
#Second-text{
    margin-top:1cm;
    margin-right:10cm;
    float:right;
    border:solid black 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: lightgoldenrodyellow;
    color:rgb(250, 37, 0);
}